PROJECT_NAME=OpenSchema

LOG_LEVEL=INFO

JWT_ALGORITHM=HS256
JWT_ENCODE_SECRET=supersecret!
JWT_DECODE_SECRET=supersecret!
JWT_ACCESS_TOKEN_TTL=86400
JWT_REFRESH_TOKEN_TTL=864000

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgresadmin
POSTGRES_PASSWORD=supersecret!
POSTGRES_DB=default

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=default
REDIS_PASSWORD=supersecret!
REDIS_DB=0

CELERY_REDIS_HOST=redis
CELERY_REDIS_PORT=6379
CELERY_REDIS_USER=default
CELERY_REDIS_PASSWORD=supersecret!
CELERY_REDIS_DB=1

VITE_API_GATEWAY_URL=http://api.openschema.io
VITE_UI_GATEWAY_URL=http://ui.openschema.io